@import "../../../../../themes/variable.scss";
$borderColor: var(--border-color);

.searchBox,
.searchBoxHome {
  @include flex-center-center;
  max-width: 785px;
  margin: auto;
  border-radius: 30px;
  background-color: #fff;
  color: var(--text-color);
  padding: 0px 15px;
  border: 1px solid var(--border-color);
  margin-top: 30px;

  .filterSelect {
    font-size: var(--font-size-text-large);
    min-width: 140px;
    position: relative;

    div[class*="ant-select-selector"] {
      padding-top: 10px;
      padding-bottom: 10px;
      border: none;
      box-shadow: none !important;
      height: 52px;
      border-radius: 30px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -5px;
      width: 1px;
      height: 2rem;
      background-color: var(--border-color);
      transform: translateY(-50%);
      @media screen and (max-width: 767px) {
        height: 1.2rem;
      }
    }
  }

  .inputSearch {
    padding: 15px;
    border: none;
    box-shadow: none !important;
    border-radius: 0;
    margin-left: 5px;
    font-size: var(--font-size-text-large);
  }

  .buttonSearch {
    padding: 0px 6px;
    border: none;
    box-shadow: none;
    border-radius: 50%;
  }
}
.searchBox {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.1));
}

.filterOption {
  font-size: var(--font-size-text-large);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}
