@import "../../../../themes/variable.scss";

.wrapper {
  background: white;
  padding: 25px;
  .header {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
    border-bottom: 1px solid #0000001a;
    padding-bottom: 8px;
  }

  .item {
    text-align: left;
    padding: 10px 0;
    font-size: var(--font-size-text);
    border-bottom: 1px solid #0000001a;

    .textMessage {
      font-weight: var(--font-weight-bold);
      width: 50% !important;
    }
    .top {
      display: flex;
      align-items: center;
      .img {
        padding-right: 10px;
        width: 35px;
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-size-text);
        color: var(--color-blue);
      }
      .up {
        color: var(--color-green-light);
      }
      .down {
        color: var(--color-red);
      }
    }
    .bottom {
      width: 100%;
      .img {
        padding-right: 10px;
        width: 35px;
      }
      .address {
        font-family: var(--font-size-text);
        color: var(--color-blue);
      }
      .status {
        margin: 0;
        text-transform: uppercase;
        border-radius: 2px;
        padding: 0 12px;
        color: var(--text-color-pale);
        background-color: #ced1d8;
        line-height: 2rem;
      }
    }
  }
  .icon {
    cursor: pointer;
    margin-left: 5px;
  }
}
