@import "../../themes/variable.scss";

.container {
  @include container;
  padding: 30px 0px 40px;
  .header {
    text-align: left;
    .left {
      margin-right: 12px;
    }
    .btn {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-family: var(--font-family-title);
      font-size: var(--font-size-title);
      font-weight: var(--font-weight-bold);
      color: var(--title-color);
      // transition: all 3ms ease;
    }
    .btn:hover {
      color: var(--color-black);
    }
    .active {
      border-bottom: 4px solid var(--color-green-light);
      color: var(--color-black);
    }
  }
  .link {
    font-family: var(--font-family-text) !important;
    color: var(--color-blue) !important;
    font-weight: var(--font-weight-bold);
  }
  .text {
    font-weight: var(--font-weight-bold);
  }
}
