@import "../../../../themes/variable.scss";

.transactionChart {
  @include box-shadow-raised;
  margin-bottom: 24px;
  padding: 36px;

  h3 {
    position: relative;
    text-align: left;
    margin-bottom: 1.5rem;

    &::after {
      position: absolute;
      top: 100%;
      left: 0;
      content: "";
      width: 50px;
      height: 4px;
      background: var(--color-green-light);
    }
  }
  .chart {
    height: 230px;
    max-height: 300px;
    width: 100%;
    .xAxis {
      text {
        &:last-child {
          text-anchor: end !important;
        }
      }
    }
  }
  @media screen and (max-width: 991px) { 
    padding: 20px;
  }
}
