@import "../../../../themes/variable.scss";

.wrapper {
  background: var(--background);
  border-radius: var(--border-radius);
  padding: 25px;
  .header {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
    border-bottom: 1px solid #0000001a;
    padding-bottom: 8px;
  }

  .item {
    background-color: var(--background);
    text-align: left;
    padding: 20px 0;
    font-size: var(--font-size-text);
    border-bottom: 1px solid #0000001a;

    .top {
      display: flex;
      align-items: center;
      .img {
        padding-right: 10px;
        width: 35px;
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-size-text);
        color: var(--color-blue);
      }
      .icon {
        cursor: pointer;
      }
    }
    .bottom {
      width: 100%;
      padding-top: 12px;
      display: flex;
      justify-content: space-between;
      .right {
        display: flex;
        align-items: center;
        .img {
          padding-right: 10px;
          width: 35px;
        }
        .address {
          font-weight: var(--font-weight-bold);
          font-family: var(--font-size-text);
          color: var(--color-blue);
        }
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-size-text);
        .icon {
          margin-left: 8px;
        }
      }
      .up {
        color: var(--color-green-light);
        margin-right: 8px;
      }
      .down {
        color: var(--color-red);
        margin-right: 8px;
      }
    }
  }
}
