@import "../../../themes/variable.scss";
.wrapper {
  .tableWrapper {
    overflow-x: auto;
    .table {
      border-collapse: separate;
      border-spacing: 0 0.8em;
      min-width: 100%;
      width: max-content;
      .headerRow {
        th:first-child {
          border-radius: 10px 0 0 0;
        }

        th:last-child {
          border-radius: 0 10px 0 0;
        }
        padding-bottom: 10px;
        .header {
          text-align: left;
          font-family: var(--font-family-text);
          color: var(--title-color);
          font-weight: var(--font-weight-bold);
          border-bottom: 1px solid var(--border-color);
          padding: 20px 20px 25px;
          font-size: var(--font-size-text-small);
          background-color: #98a2b328;
        }
      }
      .loading {
        text-align: center;
        padding: 30px 0;
      }
      .tableBody {
        position: relative;
        top: -22px;
        .bodyRow {
          background-color: #fff;
          width: 100%;
          padding: 10px 0;
          td:first-child {
            border-radius: 10px 0 0 10px;
          }

          td:last-child {
            border-radius: 0 10px 10px 0;
          }
          .col {
            width: max-content;
            min-width: 80px;
            text-align: left;
            font-family: var(--font-family-text);
            color: var(--text-color);
            padding: 24px 20px;
          }
        }
      }
    }
  }
  .footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .total {
      color: var(--text-color-pale);
    }
  }
}

.fwBold {
  font-weight: var(--font-weight-bold);
}

.noData {
  text-align: center;
  padding: 30px 0;
  background: #e7e8eb;
  position: relative;
  top: -15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}