@import "../../../themes/variable.scss";
.wrapper {
  .tableWrapper {
    overflow-x: auto;
    .table {
      border-collapse: separate;
      border-spacing: 0 0.8em;
      min-width: 100%;
      width: max-content;
      .headerRow {
        th:first-child {
          border-radius: 10px 0 0 0;
        }

        th:last-child {
          border-radius: 0 10px 0 0;
        }
        padding-bottom: 10px;
        .header {
          text-align: left;
          font-family: var(--font-family-text);
          color: var(--title-color);
          font-weight: var(--font-weight-bold);
          border-bottom: 1px solid var(--border-color);
          padding: 20px 20px 25px;
          font-size: var(--font-size-text-small);
          background-color: #98a2b328;
        }
      }
      .loading {
        text-align: center;
        padding: 30px 0;
      }
      .tableBody {
        position: relative;
        top: -22px;
        .bodyRow {
          background-color: #fff;
          width: 100%;
          padding: 10px 0;
          cursor: pointer;
          td:first-child {
            border-radius: 10px 0 0 10px;
          }

          td:last-child {
            border-radius: 0 10px 10px 0;
          }
          .col {
            width: max-content;
            min-width: 80px;
            text-align: left;
            font-family: var(--font-family-text);
            color: var(--text-color);
            padding: 24px 20px;
          }
          &:hover {
            @include box-shadow-raised;
            background-color: #ededed;
          }
        }
      }
    }
  }
  .footer {
    @include flex-end-center;
    color: var(--text-color-pale);
    flex-wrap: wrap;
    margin-top: 10px;

    &.hasTotal {
      @include flex-between-center;
    }
    @media screen and (max-width: 1024px) {
      @include flex-end-center;
      &.hasTotal {
        @include flex-end-center;
      }
    }
    .total {
      .totalNumber {
        color: var(--text-color);
        font-weight: var(--font-weight-bold);
      }
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }
    .selectPageSize {
      border: none;
      [class*="ant-select-selection-item"] {
        font-weight: var(--font-weight-bold);
      }
      .selectIcon {
        filter: brightness(1);
      }
    }
    .paginationContainer {
      @include flex-end-center;
    }
    .pagitation {
      font-weight: var(--font-weight-bold);
      a,
      a:link,
      a:hover,
      a:visited {
        font-family: var(--font-family-text);
        color: var(--text-color);
        [class*="ant-pagination-item-ellipsis"] {
          top: unset;
        }
      }
      [class*="ant-pagination-item-active"] {
        border-color: var(--border-color);
        a {
          cursor: not-allowed;
        }
      }
      [class*="ant-pagination-item-link-icon"] {
        color: var(--text-color) !important;
      }
    }
  }
}

.fwBold {
  font-weight: var(--font-weight-bold);
}

.noData {
  text-align: center;
  padding: 30px 0;
  background: #e7e8eb;
  position: relative;
  top: -15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
