@import "../../../themes/variable.scss";

.topDelegation {
  @include box-shadow-raised;
  margin-bottom: 24px;
  padding: 24px 30px;
  text-align: left;
  .title {
    @include flex-between-center;
    margin-bottom: 1.5rem;

    h3 {
      position: relative;
      text-align: left;
      margin-bottom: 0px;

      &::after {
        position: absolute;
        top: 100%;
        left: 0;
        content: "";
        width: 50px;
        height: 4px;
        background: var(--color-green-light);
      }
    }
  }
  .seemoreDesktop,
  .seemoreMobile {
    display: block;
    small {
      display: block;
      width: max-content;
      margin: auto;
      padding: 6.5px 20px;
      border: 2px solid var(--color-green-light);
      border-radius: 5px;
      color: var(--color-green-light);
      font-weight: var(--font-weight-bold);
    }
  }
  .seemoreMobile {
    display: none;
    text-align: center;
    height: auto;
  }
  .table {
    overflow-x: auto;
    table {
      min-width: 1200px;
      tr {
        th {
          background-color: transparent !important;
          border-bottom-width: 2px !important;
          font-size: var(--font-size-text-small) !important;
          color: var(--title-color) !important;
          font-weight: var(--font-weight-bold) !important;

          &::before {
            content: unset !important;
          }
        }
        td {
          cursor: pointer;
          font-size: var(--font-size-text);
          border-bottom: 1px solid var(--border-color);

          .poolName {
            font-family: var(--font-family-text);
            color: var(--color-blue);
          }

          .priceRate {
            @include flex-start-center;
            gap: 5px;
            font-weight: var(--font-weight-bold);
            color: var(--color-red);
            img {
              width: 1.5rem;
              height: 1.5rem;
            }
            .priceUp {
              color: var(--color-green);
            }
            .priceDown {
              color: var(--color-red);
            }
          }
          .progress {
            @include flex-start-center;

            span {
              line-height: 1;
            }

            .progressBar {
              width: 150px;
              height: 12px;
              line-height: 8px;
              margin-left: 8px;
            }
          }
          .actionDetail {
            display: inline-block;
            padding: 6.5px 20px;
            background: var(--text-color);
            color: var(--text-color-reverse);
            border-radius: 6px;
            font-weight: var(--font-weight-bold);
          }
        }
        &:last-child {
          td {
            border-bottom: none;
          }
        }
      }
      tbody {
        top: 0 !important;
      }
    }
  }
  @media screen and (max-width: 767px) {
    .seemoreDesktop {
      display: none;
    }
    .seemoreMobile {
      display: block;
      margin-top: 20px;
    }
  }
}
