@import '../../../../../themes/variable.scss';

.connectWallet {
  @include flex-center-center;
  padding: 10px 20px;
  gap: 8px;
  background: var(--color-blue-dark);
  border-radius: 8px;
  cursor: pointer;
  height: auto;
  border: none;
  font-size: var(--font-size-text);

  .loading {
    @include flex-center-center;

    i {
      background-color: var(--text-color-reverse);
    }
  }

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    color: var(--text-color-reverse);
    white-space: nowrap;
  }

  &:hover,
  &:focus {
    background: var(--color-blue-dark);
    border: none;
    box-shadow: var(--shadow-raised)
  }

  @media screen and (max-width: 1199px) {
    padding: 8px 16px;
    gap: 8px;
  }
}