@import "../../../../themes/variable.scss";

.wrapper {
  min-height: 400px;
  background: var(--background);
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  text-overflow: clip;
  padding: 25px 0;
  .item {
    display: flex;
    align-items: center;
    padding: 15px 0 0;
  }
  .address {
    margin: 0 auto;
    font-family: var(--font-family-title);
    word-break: break-all;
    color: var(--color-blue) !important;
    display: flex;
    align-items: center;
  }
  .icon {
    > svg {
      color: var(--text-color-pale);
      margin-left: 10px;
      width: 1em;
      height: 1em;
    }
  }
}
