@import "../../themes/variable.scss";
.container {
  @include container;
  padding: 30px 0px 40px;

  .wrapper {
    text-align: left;
    .sekeletion {
      border-radius: var(--border-radius);
      min-height: 150px;
    }
    .card {
      @include box-shadow-raised;
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 25px;
      .epochTitle {
        font-size: var(--font-size-title);
        font-family: var(--font-family-title);
        font-weight: var(--font-weight-bold);
        color: var(--color-green);
      }
      .title {
        font-family: var(--font-family-title);
        font-size: var(--font-size-text-large);
        font-weight: var(--font-weight-bold);
        color: #344054;
        .value {
          color: var(--color-green);
          font-weight: var(--font-weight-bold);
        }
      }
      .subtitle {
        font-family: var(--font-family-text);
        font-size: var(--font-size-text);
        color: var(--text-color-pale);
        .value {
          color: var(--color-green);
          font-weight: var(--font-weight-bold);
        }
      }
    }
  }
  .search {
    padding: 25px 25px 25px 0;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    .group {
      display: flex;
      .inputGroup {
        border: 1px solid rgba(17, 17, 17, 0.153);
        border-radius: var(--border-radius);
        overflow: hidden;
        padding: 6px 12px;
        background-color: #fff;
        .input {
          min-width: 350px;
          border: none;
        }
      }
      .button {
        border-radius: var(--border-radius);
        background-color: var(--text-color);
        color: white;
        padding: 0 16px;
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}
