@import '../../../themes/variable.scss';

.item {
  background-color: var(--background);
  border-radius: var(--border-radius);
  text-align: left;
  padding: 25px;
  font-size: var(--font-size-text);
  margin-bottom: 10px;
  .textMessage {
    font-weight: var(--font-weight-bold);
    width: 50% !important;
  }
  .top {
    display: flex;
    align-items: center;
    .img {
      padding-right: 10px;
      width: 35px;
    }
    .address {
      font-weight: var(--font-weight-bold);
      padding: 8px 0 8px 8px;
    }
    .icon {
      cursor: pointer;
    }
  }
  .bottom {
    width: 100%;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    .img {
      padding-right: 10px;
      width: 35px;
    }
    .address {
      font-weight: var(--font-weight-bold);
      padding: 8px;
    }
    .status {
      margin: 0;
      text-transform: uppercase;
      border-radius: 2px;
      padding: 0 12px;
      color: var(--text-color-pale);
      background-color: #ced1d8;
      line-height: 2rem;
    }
    .up {
      color: var(--color-green-light);
    }
    .down {
      color: var(--color-red);
    }
  }
}
