@import "../../../../themes/variable.scss";

footer {
  background-color: var(--footer-background-color);
  background-image: var(--footer-background-image);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--footer-color);

  .container {
    padding: 80px 123px 30px 50px;
    @media screen and (max-width: 767px) {
      padding: 86px 0px 76px;
    }
  }

  .copyright {
    background-color: var(--copyright-background-color);
    color: var(--copyrightColor);

    .container {
      @include flex-between-center;
      padding: 30px 120px 15px;

      ul {
        @include flex-end-center;
        gap: 16px;
      }

      @media screen and (max-width: 767px) {
        padding: 30px 0px 15px;
      }
    }
  }
}
