@import "../../../themes/variable.scss";

.connectModal {
  .connectContainer {
    // min-width: 450px;
    overflow: hidden;
    border-radius: 20px;
    text-align: left;
    padding: 0 30px 30px;
    .dialogTitle {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .closeIcon {
        position: absolute;
        top: 5px;
        right: -25px;
        &:hover {
          background: none;
        }
      }
      .title {
        padding: 40px 0 0 0;
      }
    }

    .wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin-top: 20px;

      border: 1px solid var(--border-color);
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 36px;
        height: 36px;
      }

      .loading {
        @include flex-center-center;

        i {
          background-color: var(--color-blue-dark);
        }
      }

      h4 {
        margin-bottom: 0px;
      }

      &:hover,
      &.selected {
        box-shadow: var(--shadow-raised);
        background-color: var(--body-background);
      }
    }
  }

  &.connecting {
    * {
      cursor: wait;
    }

    .connectContainer {
      .wallet {
        cursor: wait;

        &:hover:not(.selected) {
          box-shadow: unset;
          background-color: unset;
        }
      }
    }
  }
}
