@import '../../../themes/variable.scss';


.connectModal {
  max-width: 450px;
  padding-bottom: 0px;
  border-radius: 20px;
  background: var(--modal-background);
  overflow: hidden;

  .connectContainer {
    text-align: left;
    margin-bottom: 20px;
    padding: 0px 10px;

    .wallet {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin-top: 36px;

      border: 1px solid var(--border-color);
      box-sizing: border-box;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 36px;
        height: 36px;
      }

      .loading {
        @include flex-center-center;

        i {
          background-color: var(--color-blue-dark);
        }
      }


      h4 {
        margin-bottom: 0px;

      }

      &:hover,
      &.selected {
        box-shadow: var(--shadow-raised);
        background-color: var(--body-background);
      }
    }
  }

  &.connecting {
    * {
      cursor: wait;
    }

    .connectContainer {
      .wallet {
        cursor: wait;

        &:hover:not(.selected) {
          box-shadow: unset;
          background-color: unset;
        }
      }
    }
  }
}