@import "../../themes/variable.scss";

.link {
  font-family: var(--font-family-text) !important;
  color: var(--color-blue) !important;
  display: flex;
  align-items: center;
}

.fwBlod {
  font-weight: var(--font-weight-bold);
}

.button {
  border-radius: var(--border-radius);
  background-color: var(--text-color);
  color: white !important;
  padding: 6px 28px;
  margin-left: 12px;
  cursor: pointer;
}

.value {
  color: var(--color-green-light);
  font-weight: var(--font-weight-bold);
}
