@import '../../themes/variable.scss';

.container {
  @include container;
  padding: 30px 0px 40px;
  .table {
    margin-top: 18px;
    .link {
      font-family: var(--font-family-text) !important;
      color: var(--color-blue) !important;
      display: flex;
      align-items: center;
    }

    .fwBlod {
      font-weight: var(--font-weight-bold);
    }
    .link {
      font-family: var(--font-family-text) !important;
      color: var(--color-blue) !important;
      display: flex;
      align-items: center;
      
      & > span.finished {
        color: #108aef;
        font-size: 14px;
        font-weight: 700;
        background: rgba(16, 138, 239, 0.2);
        padding: 7.5px 11.5px;
        border-radius: 6px;
      }
      & > span.reward {
        color: #438f68;
        font-size: 14px;
        font-weight: 700;
        background: rgba(67, 143, 104, 0.2);
        padding: 7.5px 11.5px;
        border-radius: 6px;
      }
      & > span.inprogress {
        color: #ffa800;
        font-size: 14px;
        font-weight: 700;
        background: rgba(255, 168, 0, 0.2);
        padding: 7.5px 11.5px;
        border-radius: 6px;
      }
    }

    .blockRow {
      display: flex;
      align-items: center;
      & > img {
        margin-right: 8px;
      }

      & > span {
        font-size: 17px;
        font-weight: 700;
        color: #273253;
        display: block;
        cursor: pointer;
      }
    }
  }
}
