@import "../../../../themes/variable.scss";
.wrapper {
  background-color: #fff;
  text-align: left;

  font-size: var(--font-size-text);
  margin-bottom: 10px;
  .header {
    padding: 25px 25px 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
    border-bottom: 1px solid #0000001a;
    padding-bottom: 8px;
    align-items: flex-end;
    .type {
      font-size: var(--font-size-text);
      font-weight: var(--font-weight-bold);
      color: #000;
    }
  }

  .item {
    // background-color: var(--background);
    padding: 10px 25px;
    text-align: left;
    font-size: var(--font-size-text);
    border-bottom: 1px solid #0000001a;

    .textMessage {
      font-weight: var(--font-weight-bold);
      width: 50% !important;
    }
    .transfer {
      @include flex-between-center;

      width: 100%;
      .wallet {
        @include flex-start-center;
        padding-right: 10px;
        .img {
          padding-right: 10px;
          width: 35px;
        }
      }

      .transferInfoTop {
        @include flex-between-center;
        flex: 1;

        .transferAddress,
        .transferValue,
        .transferHash {
          @include flex-start-center;
          flex-wrap: nowrap;
          width: auto;
        }
        .img {
          padding-right: 10px;
          width: 35px;
        }
        .address {
          font-weight: var(--font-weight-bold);
          margin-right: 8px;
        }
      }
      .transferInfo {
        @include flex-between-center;
        .transferAddress,
        .transferValue,
        .transferHash {
          @include flex-start-center;
          flex-wrap: nowrap;
          width: auto;
        }
        .img {
          padding-right: 10px;
          width: 35px;
        }
        .address {
          font-weight: var(--font-weight-bold);
          margin-right: 8px;
        }
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-family-text);
        color: var(--color-blue);
      }
      .up,
      .down {
        white-space: nowrap;
      }
      .up {
        color: var(--color-green-light);
      }
      .down {
        color: var(--color-red);
      }
      .txHash {
        font-family: var(--font-family-text);
        color: var(--color-blue);
        white-space: wrap;
        margin-right: 8px;
        .txHashMobile {
          display: none;
        }
        @media screen and (max-width: 991px) {
          .txHashDesktop {
            display: none;
          }

          .txHashMobile {
            display: inline-block;
          }
        }
      }
      .status {
        margin: 0;
        text-transform: uppercase;
        border-radius: 2px;
        padding: 0 12px;
        font-family: var(--font-family-title);
        background-color: #ced1d8;
        color: var(--text-color-pale);
        font-weight: var(--font-weight-bold);
        line-height: 2rem;
        display: inline;
        margin-right: 4px;
      }
    }
  }
  .footer {
    display: flex;
    justify-content: space-between;
    padding: 12px 25px;
    background-color: #dedede;
    .address {
      font-weight: var(--font-weight-bold);
      padding: 8px;
    }
  }
}

.paddingTop {
  padding-top: 8px;
}
