@import "../../../../themes/variable.scss";

header {
  background-image: var(--linear-gradient-green);
  color: var(--text-color-reverse);
  position: relative;

  .container {
    @include container;
    position: relative;

    padding: 20px 10px;

    .headerTop {
      @include flex-between-center;
      .logo {
        position: relative;
        small {
          position: absolute;
          bottom: 0;
          right: 0;
          transform: translateY(50%);
          font-weight: var(--font-weight-bold);
          font-family: var(--font-family-title);
          color: var(--color-yellow);
          text-transform: uppercase;
          &.mainnet {
            color: var(--color-green-light);
          }
          &.preprod {
            color: var(--color-blue);
          }
          &.preview {
            color: var(--color-blue);
          }
          &.testnet {
            color: var(--color-yellow);
          }
        }
      }
      .headerMenu {
        @include flex-end-center;
        gap: var(--menu-item-gap);
      }
    }

    .headerMain {
      text-align: center;
      padding: 100px 0px 150px;

      & > h1 {
        color: var(--text-color-reverse);
      }
    }
  }
  &.home {
    .background {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: var(--header-background-image);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: luminosity;
    }
  }
  &.page {
    .container {
      .headerMain {
        & > h1 {
          display: none;
        }
        padding: 70px 0px 0px;
        margin-bottom: calc(-25px - 1.5715rem);
      }
    }
    margin-bottom: 15px;
  }

  @media screen and (max-width: 767px) {
    background: var(--linear-gradient-green);
  }
}
