@import "../../../../themes/variable.scss";

.wrapper {
  background: white;
  padding: 25px;
  .header {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-text-small);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
    border-bottom: 1px solid #0000001a;
    padding-bottom: 8px;
  }

  .item {
    background-color: white;
    text-align: left;
    padding: 10px 0;
    font-size: var(--font-size-text);
    border-bottom: 1px solid #0000001a;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .img {
        padding-right: 10px;
        width: 35px;
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-size-text);
        color: var(--color-blue);
      }
      .icon {
        cursor: pointer;
      }
      .address {
        font-weight: var(--font-weight-bold);
        font-family: var(--font-size-text);
        .icon {
          margin-left: 8px;
        }
      }
      .up {
        color: var(--color-green-light);
        margin-right: 8px;
      }
      .down {
        color: var(--color-red);
        margin-right: 8px;
      }
    }
    .bottom {
      width: 100%;

      .right {
        display: flex;
        align-items: center;
        .img {
          padding-right: 10px;
          width: 35px;
        }
        .address {
          font-weight: var(--font-weight-bold);
          font-family: var(--font-size-text);
          color: var(--color-blue);
        }
      }
    }
  }
}
