@import '../../../../../themes/variable.scss';

@include keyframe(fade) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul.menu {
  display: flex;
  gap: var(--menu-item-gap);

  li {
    text-align: left;
    cursor: pointer;
    margin-bottom: .5rem;

    a,
    a:visited,
    a:hover {
      color: inherit;
      line-height: 1;
    }

    span {
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-normal);
      white-space: nowrap;

      &.title {
        display: block;
        font-weight: var(--font-weight-bold);
        margin-bottom: .5rem;
        cursor: default;
      }
    }

    &:hover {

      &>a,
      &>span {
        color: #FFF;
      }
    }
  }

  &>li {
    @include flex-center-center;
    position: relative;
    padding: 10px 0px;
    margin-bottom: 0;

    &.parent {
      padding-right: 22px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        width: 12px;
        height: 9px;
        background-image: url(../../../../../commons/resources/icons/arrow-down.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &>ul {
      position: absolute;
      z-index: 1;
      top: 100%;
      padding: 20px;
      background: var(--linear-gradient-green);
      box-shadow: 4px 5px 7px -1px rgb(0 0 0 / 20%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 1px 3px rgb(0 0 0 / 12%);
      border-radius: 10px;
      visibility: hidden;

      &.mega {
        @include flex-between-start;
        padding: 20px 40px;
        right: unset;
        width: 60vw;
      }
    }

    // &:hover,
    &.active {
      &>ul {
        visibility: visible;
        @include animation(0, 0.4s, fade);
      }
    }
  }
}

@media screen and (max-width: 767px) {}