@import "../../../../../themes/variable.scss";

@include keyframe(fade) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

ul.menu {
  @include flex-center-start;
  gap: var(--menu-item-gap);

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 0;
    width: 100%;
  }

  li {
    text-align: left;
    cursor: pointer;
    a,
    a:visited,
    a:hover {
      color: inherit;
      line-height: 1;
    }

    span {
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-bold);
      white-space: nowrap;

      &.title {
        display: block;
        font-weight: var(--font-weight-bold);
        margin-bottom: 0.5rem;
        cursor: default;
      }
    }

    &:hover {
      & > a,
      & > span {
        color: var(--text-color-reverse-hover);
        text-shadow: 1px 1px 5px var(--text-color-reverse-hover);

        @media screen and (max-width: 1199px) {
          color: inherit;
        }
      }
    }
    & > ul > li {
      span {
        padding: 0.25rem 48px 0.25rem 20px;
        display: block;
        font-weight: var(--font-weight-normal);
        line-height: 1.5;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      &:hover {
        background-color: var(--border-color);
        & > a,
        & > span {
          color: var(--text-color-pale);

          @media screen and (max-width: 1199px) {
            color: inherit;
          }
        }
      }
    }
  }

  & > li {
    @include flex-center-center;
    position: relative;
    padding: 10px 0px;

    @media screen and (max-width: 1199px) {
      @include flex-center-start;
      flex-direction: column;
      width: 100%;
    }

    &.parent {
      padding-right: 22px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        transform: rotate(0deg) translateY(-50%);
        width: 12px;
        height: 9px;
        background-image: url(../../../../../commons/resources/icons/arrow-down.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s;

        @media screen and (max-width: 1199px) {
          top: 1.25rem;
          filter: invert(0.8);
          transform: rotate(-90deg) translateX(50%) translateY(0%);
        }
      }
      &.active {
        &::after {
          @media screen and (max-width: 1199px) {
            transform: rotate(0deg) translateX(0%) translateY(-50%);
          }
        }
      }
    }

    & > ul {
      position: absolute;
      z-index: 1;
      top: 100%;
      background: rgba(255, 255, 255, 0.9);
      box-shadow: var(--shadow-raised);
      backdrop-filter: blur(2px);
      border-radius: 10px;
      color: var(--color-black);
      visibility: hidden;
      padding: 20px 0px;

      @media screen and (max-width: 1199px) {
        position: relative;
        visibility: visible;
        display: none;
        width: 100%;
        box-shadow: none;
        padding: 10px 0px;
      }

      &.mega {
        @include flex-between-start;
        padding: 20px 40px;
        right: unset;
        width: 60vw;
      }
    }

    &:hover {
      & > ul {
        visibility: visible;

        @media screen and (min-width: 1200px) {
          @include animation(0, 0.4s, fade);
        }
        @media screen and (max-width: 1199px) {
          display: none;
        }
      }
    }
    &.active {
      & > ul {
        @media screen and (max-width: 1199px) {
          display: block;
        }
      }
    }
  }
}
