@import "../../../themes/variable.scss";

.tab {
  .title {
    margin-bottom: 0px;
    color: var(--title-color);
    text-align: left;
    text-transform: capitalize !important;
  }
  .active {
    color: var(--color-black);
  }
}
