@import "../../themes/variable.scss";

.col {
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-text) !important  ;
}
.link {
  font-family: var(--font-family-text) !important;
  color: var(--color-blue) !important;
  display: flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
  align-items: center;
}
