@import "../../themes/variable.scss";

.titleDetail {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-title);
}
.addressGroup {
  margin-top: 15px;
  margin-bottom: 24px;
  background: rgba(16, 138, 239, 0.07);
  border-radius: 8px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .address {
    max-width: 90%;
    word-wrap: break-word;
    font-weight: var(--font-weight-bold);
    font-family: var(--font-family-text);
    color: var(--color-blue);
    font-size: 14px;
  }
}

.itemDetail {
  width: 100%;
  padding: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    .title {
      margin-left: 10px;
      color: #344054;
      font-size: 14px;
    }
  }

  .value {
    color: black;
    font-weight: var(--font-weight-bold);
    font-size: 14px;
  }
}

.placeholder {
  color: var(--title-color);
}
