.select {
  // border: 1px solid red;
  font-size: var(--font-size-text);
  width: 320px;

  & > div {
    height: 44px !important;
    padding: 7px 10px !important;
    text-align: left;
    border: 1px solid #e3e5e9 !important;
    box-shadow: none !important;
    border-radius: 8px !important;
  }
}

.selectOption {
  font-size: var(--font-size-text);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
}
