@import "../../../themes/variable.scss";

.card {
    background: #E9EAEC;
    border-radius: 10px 10px 0 0;
    padding: 25px 30px 0;
}

.space {
    margin: 10px 0 0;
}

.alignCenter {
    display: flex;
    align-items: center;

}

.wallet {
    margin-right: 12px;
}

.copyIcon {
    margin-left: 12.25px;
    fill: #667085;
}
 
.title {
    width: 100%;
    padding: 0 0 12px;

    h3 {
        margin: 0 0 5px;
        font-size: 18px;
        text-align: left;
    }

    .subtitle {
        @include flex-between-center;
        color: #98A2B3;
        font-weight: var(--font-weight-bold);
    }
}

.horizon {
    width: 100%;
    height: 0;
    border: 1px solid #000;
    opacity: 0.1;
}

.fwBold {
    font-weight: var(--font-weight-bold);
}

.img {
    margin-left: 10px;
}

.content {
    @include flex-between-start;
    padding: 28px 0;
    font-size: 16px;


    .colorGreen {
        color: var(--color-green);
    }

    .colorRed {
        color: var(--color-red);
    }
}

.footer {
    @include flex-between-center;
    padding: 16px 30px;
    border-radius: 0 0 10px 10px;
    background: #DEDEDE ;
    font-size: 16px;
}