@import "../../../themes/variable.scss";

.card {
  background-color: transparent;
  padding: 25px 30px;
  border-radius: var(--border-radius);

  .header {
    @include flex-between-center;
    
    .title {
      text-align: left;
      padding-bottom: 8px;
      position: relative;
    }

    .title::after {
      content: "";
      position: absolute;
      width: 100px;
      height: 4px;
      background-color: var(--color-green-light);
      left: 0;
      bottom: 0;
    }
  }
}
