@import "../../../../themes/variable.scss";

.link {
  font-family: var(--font-family-text) !important;
  color: var(--color-blue) !important;
  display: flex;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-text);
  align-items: center;
  width: max-content;
}
.amount {
  font-size: var(--font-size-text);
}
.icon {
  color: var(--text-color-pale);
}

.icon:hover {
  color: var(--color-blue) !important;
}
.bold {
  font-weight: var(--font-weight-bold);
}
.modal {
  text-align: left;
  .totalToken {
    font-size: var(--font-size-text);
    .value {
      font-weight: var(--font-weight-bold);
    }
  }
  .title {
    word-break: break-all;
    border-bottom: 1px solid rgb(0 0 0 / 10%);
  }
  .Policy {
    font-size: var(--font-size-text);
    padding: 10px 0 4px;
  }
  .script {
    min-height: 200px;
    border-radius: 10px;
    background: rgba(217, 217, 217, 0.3);
  }
  .body {
    padding: 10px 24px 20px;
  }
  .footer {
    text-align: right;
    padding: 10px 24px;
  }
}
