@import "../../themes/variable.scss";

.table {
    margin-top: 18px;

    .addr {
        display: flex;
    }

    .link {
        font-family: var(--font-family-text);
        color: var(--color-blue);
    }

    .fwBold {
        font-weight: var(--font-weight-bold);
    }

    .icon {
        margin-left: 8px;
    } 

    .ml15 {
        margin-left: 15px;
    }
}