.react-datepicker {
  display: flex;
  height: 344px;
}

.react-datepicker-popper{
  z-index: 11;
}

.react-datepicker__input-container {
  display: none;
}

@media (min-width: 750px) {
  .start-date-picker {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .end-date-picker {
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media (max-width: 750px) {
  .start-date-picker {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .start-date-picker>.react-datepicker__triangle{
    display: none;
  }

  .end-date-picker {
    border-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}



.end-date-picker>.react-datepicker__triangle{
  display: none;
}

.react-datepicker__header {
  background-color: #fff;
  border-bottom: 0px;
  padding-bottom: 5px;
}

.react-datepicker__month-container {
  padding: 10px;
}

.react-datepicker__day--outside-month {
  visibility: hidden;
  height: 0 !important;
}

.react-datepicker__triangle {
  transform: translate(164px, 0px) !important;
}

.react-datepicker__day-name {
  width: 36px;
  height: 20px;
}

.react-datepicker__day {
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  display: inline-grid;
  align-items: center;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #53A57B;
  color: white;
}


.react-datepicker__day--in-selecting-range{
  background-color: #53a57b9b;
  color: white;
}

/* Override the hover color */
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #53A57B;
  color: white;
}

.react-datepicker__day--in-range {
  background-color: #53A57B;
  color: white;
}
