.react-datepicker__header {
  background-color: #fff;
  border-bottom: 0px;
  padding-bottom: 5px;
}

.react-datepicker__month-container {
  padding: 10px;
}

.react-datepicker__triangle {
  transform: translate(164px, 0px) !important;
}

.react-datepicker__day-name {
  width: 36px;
  height: 20px;
}

.react-datepicker__day {
  width: 36px;
  height: 36px;
  border-radius: 50% !important;
  display: inline-grid;
  align-items: center;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #53A57B;
  color: white;
}


.react-datepicker__day--in-selecting-range{
  background-color: #53a57b9b;
  color: white;
}

/* Override the hover color */
.react-datepicker__day--selected:hover,
.react-datepicker__day--keyboard-selected:hover {
  background-color: #53A57B;
  color: white;
}

.react-datepicker__day--in-range {
  background-color: #53A57B;
  color: white;
}
