@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url(./commons/resources/fonts/Roboto-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url(./commons/resources/fonts/Roboto-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url(./commons/resources/fonts/Roboto-Regular.ttf) format("truetype");
}

:root {
  --font-family-title: "Roboto", sans-serif;
  --font-family-text: "Roboto", sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-size-text: 16px;
  --font-size-text-large: 18px;
  --font-size-text-x-large: 20px;
  --font-size-text-small: 14px;
  --font-size-text-x-small: 12px;
  --font-size-title: 24px;
  --border-radius: 10px;
  --border-radius-sm: 8px;
}

html {
  font-size: var(--font-size-text);
  scroll-behavior: smooth;

  & > body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-text);
    text-align: center;
    color: var(--text-color);

    @media (max-width: 800px) {
      overflow-y: hidden;
    }

    & > iframe {
      pointer-events: none;

      &#jsd-widget {
        pointer-events: all;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family-title);
    margin-bottom: 0.5em;
    font-weight: var(--font-weight-bold);
    line-height: 1.5;
    color: var(--text-color);
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.83rem;
  }

  h6 {
    font-size: 0.67rem;
  }

  p {
    line-height: 1.5;
    margin-bottom: 0.5rem;
  }

  span {
    line-height: 1.15;
  }

  small {
    font-size: var(--font-size-text-small);
    line-height: 1.15;
  }

  a,
  a:link,
  a:hover,
  a:visited {
    text-decoration: none;
    font-family: var(--font-family-title);
    color: var(--text-color);
  }

  button,
  button:focus,
  button:hover {
    outline: none;
  }

  input,
  input:focus,
  input:hover {
    outline: none;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
