@import "../../../../themes/variable.scss";

.item {
  background-color: #fff;
  text-align: left;
  padding: 25px;
  font-size: var(--font-size-text);
  margin-bottom: 10px;
  .textMessage {
    font-weight: var(--font-weight-bold);
    max-width: 700px;
  }
  .top {
    @include flex-start-center;
    margin-bottom: 10px;

    .img {
      padding-right: 10px;
      width: 35px;
    }
    .address {
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-text);
      color: var(--color-blue);
    }
    .icon {
      cursor: pointer;
      vertical-align: text-bottom;
    }
  }

  .transfer {
    @include flex-between-center;
    flex-wrap: wrap;
    width: 100%;
    .wallet {
      @include flex-start-center;
      padding-right: 10px;
      margin-bottom: 8px;
      .img {
        padding-right: 10px;
        width: 35px;
      }
    }

    .transferInfo {
      @include flex-between-center;
      flex: 1;
      margin-bottom: 8px;

      .transferAddress,
      .transferValue,
      .transferHash {
        @include flex-start-center;
        flex-wrap: nowrap;
        width: auto;
      }
      .transferValue {
        margin-bottom: 10px;
      }
      .img {
        padding-right: 10px;
        width: 35px;
      }
      .address {
        font-weight: var(--font-weight-bold);
        margin-right: 8px;
      }
    }
    &.nowrap {
      @media screen and (max-width: 575px) {
        @include flex-start-start;
        flex-wrap: nowrap;
        .transferInfo {
          @include flex-start-start;
          flex-direction: column;
          flex-wrap: wrap;
          row-gap: 10px;
        }
      }
    }
    .address {
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-text);
      color: var(--color-blue);
    }
    .up,
    .down {
      white-space: nowrap;
    }
    .up {
      color: var(--color-green-light);
    }
    .down {
      color: var(--color-red);
    }
    .txHash {
      font-family: var(--font-family-text);
      color: var(--color-blue);
      white-space: wrap;
      margin-right: 8px;
      .txHashMobile {
        display: none;
      }
      @media screen and (max-width: 991px) {
        .txHashDesktop {
          display: none;
        }

        .txHashMobile {
          display: inline-block;
        }
      }
    }
    .status {
      margin: 0;
      text-transform: uppercase;
      border-radius: 2px;
      padding: 0 12px;
      font-family: var(--font-family-title);
      background-color: #ced1d8;
      color: var(--text-color-pale);
      font-weight: var(--font-weight-bold);
      line-height: 2rem;
      display: inline;
      margin-right: 4px;
      white-space: nowrap;
    }
  }
}
