@import "../../../themes/variable.scss";

.wrapper {
  margin-top: 24px;
  min-height: 250px;
  .skeleton {
    height: 250px;
    border-radius: 10px;
  }
  .info {
    box-shadow: var(--shadow-raised);
    text-align: left;
    background-color: #fff;
    height: 100%;
    overflow-x: auto;
    padding: 25px 30px;
    @media screen and (max-width: 767px) {
      padding: 25px 20px;
    }

    .fullWidth {
      width: 100%;
    }

    .title {
      font-family: var(--font-family-title);
      font-weight: var(--font-weight-bold);
      font-size: var(--font-size-title);
      padding-bottom: 4px;
    }
    .detailItem {
      font-size: var(--font-size-text);
      padding: 4px 0;
      display: flex;
      align-items: center;
      height: 100%;
      .img {
        margin-right: 8px;
        display: block;
        height: 100%;
      }
      .row {
        display: flex;
        align-items: center;
        .label {
          min-width: 150px;
          @media screen and (max-width: 767px) {
            min-width: 120px;
          }
        }
        .value {
          margin-left: 0.5rem;
          font-weight: var(--font-weight-bold);
          white-space: nowrap;
        }
      }
    }
  }
  .progress {
    @include flex-around-end;
    box-shadow: var(--shadow-raised);
    background-color: #fff;
    height: 100%;
    overflow-x: auto;
    padding: 25px 30px;
    gap: 10px;

    @media screen and (max-width: 767px) {
      @include flex-center-center;
      padding: 25px 20px;
      flex-wrap: wrap;
    }
    .epoch {
      font-size: 56px;
      font-weight: var(--font-weight-bold);
      font-family: var(--font-family-title);
      color: #29744d;
    }
    .epochTitle {
      font-size: var(--font-size-text);
      font-family: var(--font-family-text);
      color: var(--title-color-pale);
      margin-top: 8px;
    }

    .progessInfo {
      margin-top: 14px;
      text-align: left;

      @media screen and (max-width: 575px) {
        width: 100%;
        @include flex-between-center;
        flex-wrap: wrap;
      }
      .row {
        display: flex;
        align-items: center;
        margin-top: 12px;
        font-size: var(--font-size-text-large);
        .img {
          margin-right: 8px;
        }
        .link {
          font-family: var(--font-family-text) !important;
          color: var(--color-blue) !important;
        }
        .title {
          font-size: var(--font-size-text-small);
          font-family: var(--font-family-text);
          color: var(--title-color);
        }
      }
    }
  }
}
.fwBold {
  font-weight: var(--font-weight-bold);
}
