@import "../../themes/variable.scss";

.container {
  @include container;
  @include flex-center-center;
  flex-direction: column;
  padding: 120px 0px;

  img {
    width: 100%;
    max-width: 250px;
    margin-bottom: 2rem;
  }

  h3 {
    color: var(--text-color-pale);
    margin-bottom: 2rem;
    font-weight: var(--font-weight-normal);
  }

  .backToHome {
    display: block;
    display: block;
    width: max-content;
    margin: auto;
    padding: 6.5px 20px;
    border: 2px solid var(--color-green-light);
    border-radius: 5px;
    color: var(--color-green-light);
    font-weight: var(--font-weight-bold);
  }
}
